<ul class="list-group">
  <li class="list-group-item"><%= link_to :products, admins_products_path %> </li>
  <li class="list-group-item"><%= link_to :orders, admins_orders_path %></li>
  <li class="list-group-item"><%= link_to :users, admins_users_path %></li>
  <li class="list-group-item"><%= link_to :categories, admins_categories_path %></li>
</ul>