<%= nav do %>
  <%= nav_link :list, send('admins_' + controller_name.to_s + '_path') %>
  <%= nav_link :add_new, send('new_admins_' + controller_name.singularize + '_path') %>
  <li class="nav-item">
    <a class="nav-link" href="#">Export</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">History</a>
  </li>
<% end %>