<ul class="list-group">
  <li class="list-group-item"><%= link_to :products, products_path %> </li>
  <li class="list-group-item"><%= link_to :orders, orders_path %></li>
  <!--  <li class="list-group-item"><%#= link_to :users, users_path %></li>-->
  <li class="list-group-item"><%= link_to :categories, categories_path %></li>
</ul>