<%= nav do %>
  <%= nav_link :list, send('admin_' + controller_name.to_s + '_path') %>
  <%= nav_link :new, send('new_admin_' + controller_name.singularize + '_path') %>
  <%= nav_link :edit, send('edit_admin_' + controller_name.singularize + '_path') unless params[:id].blank? %>
  <li class="nav-item">
    <a class="nav-link" href="#">Export</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">History</a>
  </li>
<% end %>