<script
  src="https://www.paypal.com/sdk/js?client-id=ASXaqbwl5OUI96LhkLtD1Z5nTBNbryp4x0LX7kLnkkBH8EROvNXHAeQ9MzfWuxO5GiUtyksfi_D6S0z-&currency=EUR">
</script>

<label class="amount">
  <span>Amount: €<%= @order.amount %></span>
</label>

<div id="paypal-button-container"></div>

<script>
    paypal.Buttons({
        createOrder: function (data, actions) {
            return fetch("<%=create_transaction_account_order_payment_path(@order) %>", {
                method: 'post',
                headers: {
                    'content-type': 'application/json'
                }
            }).then(function (res) {
                return res.json();
            }).then(function (orderId) {
                console.log(orderId);
                return orderId; // Use the key sent by your server's response, ex. 'id' or 'token'
            });
        },
        onApprove: function (data, actions) {
            $('div#loading').show();
            return fetch("<%=account_order_payment_path(@order) %>", {
                method: 'post',
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify({
                    data: data
                })
            }).then(function (res) {
                console.log(res);
                return res.json();
            }).then(function (data) {
                console.log(data);
                if (data.result.status === 'COMPLETED') {
                    window.location.href = "<%= account_order_path(@order) %>"
                    $('div#loading').hide();
                }
            });
        }
    }).render('#paypal-button-container');
</script>