<!--<div class="row fixed-top">-->
<div class="row">
  <div class="col col-6"></div>
  <div class="col col-3">Order Total: €
    <span id="total"><%= @amount %></span>
  </div>
  <div class="col col-3"><%= button_to :show_in_cart, cart_path, method: :get %></div>
</div>